@import "tailwindcss";

:root {
  --primary-red: #E11D2E;
  --primary-blue: #1E3A8A;
  --light-bg: #F8FAFC;
  --dark-text: #1F2937;
  --gray-text: #6B7280;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: var(--light-bg);
  color: var(--dark-text);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}